.desktop13-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop13-desktop13 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-button1 {
  gap: 8px;
  top: 0px;
  left: 0px;
  width: 1399px;
  height: 134px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(6, 50, 194, 1);
}
 
.desktop13-text10 {
  top: 67px;
  left: 257px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop13-image5 {
  top: 8.881784197001252e-16px;
  left: 26px;
  width: 134px;
  height: 134px;
  position: absolute;
}
 
.desktop13-menu011 {
  top: 134px;
  left: 26px;
  width: 67px;
  height: 67px;
  position: absolute;
}
 
.desktop13-button2 {
  gap: 8px;
  top: 3px;
  left: 6px;
  width: 1399px;
  height: 134px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(6, 50, 194, 1);
}
 
.desktop13-text11 {
  top: 67px;
  left: 257px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop13-text12 {
  top: 156px;
  left: 596px;
  color: rgba(11, 10, 10, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop13-menu012 {
  top: 134px;
  left: 26px;
  width: 67px;
  height: 67px;
  position: absolute;
}
 
.desktop13-logosinfondo2 {
  top: 3px;
  left: 47px;
  width: 91px;
  height: 127px;
  position: absolute;
}
 
.desktop13-card-grid-testimonials {
  gap: 48px;
  top: 234px;
  left: 69px;
  width: 1309px;
  height: 734px;
  display: flex;
  padding: 64px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-content-heading {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.desktop13-text13 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-card-grid {
  gap: 48px;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-testimonial-card1 {
  gap: 24px;
  width: 361.6666564941406px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text14 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block1 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info1 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text15 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card2 {
  gap: 24px;
  width: 361.66668701171875px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text16 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block2 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info2 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text17 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card3 {
  gap: 24px;
  width: 361.66668701171875px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text18 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block3 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info3 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text19 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card4 {
  gap: 24px;
  width: 361.6666564941406px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text20 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block4 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info4 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text21 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card5 {
  gap: 24px;
  width: 361.66668701171875px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text22 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block5 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info5 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text23 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card6 {
  gap: 24px;
  width: 361.66668701171875px;
  display: flex;
  padding: 24px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text24 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block6 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info6 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text25 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card7 {
  gap: 24px;
  top: 733px;
  left: 952px;
  width: 359px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading7 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text26 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block7 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info7 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text27 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card8 {
  gap: 24px;
  top: 733px;
  left: 543px;
  width: 361px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading8 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text28 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block8 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info8 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text29 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-testimonial-card9 {
  gap: 24px;
  top: 733px;
  left: 133px;
  width: 362px;
  display: flex;
  padding: 24px;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop13-text-heading9 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-text30 {
  color: rgba(30, 30, 30, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 120.00000476837158%;
}
 
.desktop13-avatar-block9 {
  gap: 12px;
  width: 139px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-info9 {
  gap: 2px;
  width: 139px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.desktop13-text31 {
  color: rgba(117, 117, 117, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.desktop13-frame3d-avatars27 {
  top: 140px;
  left: 1243px;
  width: 94px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.desktop13-avatars3davatar26 {
  top: 0px;
  left: 0px;
  width: 94px;
  height: 94px;
  position: absolute;
}
