.impresion11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.impresion11-impresion11 {
  width: 100%;
  height: 401px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.impresion11-rectangle13 {
  top: 50.653564453125px;
  left: 0.40771484375px;
  width: 760px;
  height: 349px;
  position: absolute;
}
 
.impresion11-frame155 {
  top: 0px;
  left: 0px;
  width: 761px;
  height: 102px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(6, 50, 194, 1);
}
 
.impresion11-text10 {
  top: 3px;
  left: 52px;
  color: rgba(22, 21, 21, 1);
  width: 461px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impresion11-text11 {
  top: 141.50164794921875px;
  left: 198px;
  color: rgba(0, 0, 0, 1);
  width: 377px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impresion11-rectangle14 {
  top: 312px;
  left: 93px;
  width: 531px;
  height: 72px;
  position: absolute;
}
 
.impresion11-text22 {
  top: 331px;
  left: 72px;
  color: rgba(0, 0, 0, 1);
  width: 543px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Habibi;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.impresion11-rectangle15 {
  top: 116px;
  left: 93px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.impresion11-rectangle16 {
  top: 175px;
  left: 93px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.impresion11-rectangle17 {
  top: 237px;
  left: 93px;
  width: 42px;
  height: 42px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
